body{
    background-color:#70e0c1;
}
a{
    all:unset;
}

.header{
    background-color:#45ba9a;
    height:20%;
    display:flex;
    justify-content:space-evenly;
    vertical-align: middle;
}
.nav{
    display:flex;
    justify-content:space-evenly;
    vertical-align: middle;
}
.navBut{
    width:20%;
    height:20px;
    margin:20px;
    padding:20px;
    font-size:150%;
    color:#3e403f;
}
.navBut:hover{
    background-color:#5b6361;
    color:cyan;
    border-radius: 10px;
    cursor:pointer;
}
.logo{
    font-weight:bold;
    font-family:'Brush Script MT', cursive;
    font-size: 300%;
    margin:20px;
    padding:10px;
}


.test{
    font-size:2em;
}


div{
    border:black solid 2px;
}

