body{
    background-color:#70e0c1;
}

.header{
    background-color:#45ba9a;
    height:20%;
    display:flex;
    justify-content:space-evenly;
    vertical-align: middle;
}
.nav{
    display:flex;
    justify-content:space-evenly;
    vertical-align: middle;
}
.navBut{
    width:20%;
    height:20px;
    margin:20px;
    padding:20px;
    font-size:150%;
    color:#3e403f;
}
.navBut:hover{
    background-color:#5b6361;
    color:cyan;
    border-radius: 10px;
    cursor:pointer;
}
.logo{
    font-weight:bold;
    font-family:'Brush Script MT', cursive;
    font-size: 300%;
    margin:20px;
    padding:10px;
}


.test{
    font-size:2em;
}

.gridContainer{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 5% 40% 5% 15% 15% 15%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-areas: 
        ". . . . . ."
        ". text . . image1 ."
        ". text . . . ."
        ". text . . . ."
        ". text . . image2 ."
        ". text . . . ."
        ". text . . . ."
        ". text . . image3 ."
        ". . . . . .";
}
.item1{
    grid-area:text;
}
.item2{
    grid-area:image1;
    overflow: hidden;
}
.item3{
    grid-area:image2;
    overflow: hidden;
}
.item4{
    grid-area:image3;
    overflow: hidden;
}
.img{
    height:100%;
}
.img1:hover{
    grid-column:4,span 3;
    grid-row:1,span 3;
    z-index:6;
    transition: all 2s;
    
}
.img2:hover{
    grid-column:4,span 3;
    grid-row:4,span 3;
    z-index:8;
    transition: all 2s;
    
}
.img3:hover{
    grid-column:4,span 3;
    grid-row:7,span 3;
    z-index:9;
    transition: all 2s;
    
}
div{
    
    order:black solid 2px;
}

