/*GENERAL OVERRIDES*/
    body{
        background-color:#70e0c1;
        padding: 0;
        margin:0;
    }
    a{
        all:unset;
    }
    ul{
        list-style: none;
        margin:0;
        padding:0;
    }
/*end general*/

/*NAVIGATION
    NavBar override formatting*/
    .header{
        background-color:#45ba9a;
        height:20%;
        display:flex;
        justify-content:space-evenly;
        vertical-align: middle;
    }
    /*overriding some of the fluid container properties*/

        /*check how original class is structured*/

    /*fixed on hover background color overblowing the menu frame*/
    .dropdown-item:hover{
        width:inherit;
    }
    /*hover for drown down*/
    .dropdown:hover .dropdown-menu{
        display:block;
        margin-top:0;
    }
/*END NAVIGATION*/

/*text formatting*/
    /*NavBar Logo formatting*/
    .logo{
        font-weight:bold;
        font-family:'Brush Script MT', cursive;
        font-size: 3em;
        margin:20px;
        padding:10px;
    }
    /*Home page text formatting*/
    #present{
        height: 60%;
        width:50%;
        margin:auto 10px;
        font-size:250%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    /*changing visuals of navbar*/
    .navBut{
        width:auto;
        margin:20px;
        padding:20px;
        font-size:150%;
        color:#3e403f;
    }
    .navBut:hover{
        background-color:#5b6361;
        color:cyan;
        border-radius: 10px;
        cursor:pointer;
    }
    /*overriding active class for active page*/
    .navbar-nav .active{
        background-color:#5b6361;
        color:cyan;
        border-radius: 10px;
    }
    /*main page texts*/
    .textSub{
        width:60%;
        text-align: right;
        font-size:130%;
        padding:20px;
        border:#45ba9a solid 3px;
        border-radius:10px;
    } 
    #biographyText{
        text-align:left;
    }
/*end text formatting*/

/*CAROUSEL PROPERTIES*/
    .gallery{
        width:40%;
        height:50%;
        margin:20px;
        border-radius:20px;
        overflow:hidden;
    }
    .carousel-item img{
        width: 30vw;
        height: 30vw;
        object-fit: cover; 
    }
    .carousel-content{
        text-align: center;
        background-color:#5b6361;
        color:cyan;
        transition: all 1s;
    }
    .carousel-control{
        filter:invert(90%) contrast(160%);
    }
/*end carousel*/

/*page content formatting*/
    .mainPage{
        display:flex;
        width:80%;
        margin:20px auto;
        justify-content: space-evenly;
        margin:40px auto;
        opacity: 0;
    }
    #imageMain{
        margin:10px;
        width:20%; 
        left:0;
        border-radius:25px;
    }
/*end*/

/*animation class*/
.mainOpacity{
    transition: opacity 2s;
    opacity: 1;
}
/*end animations*/

/*FORM FORMATTING*/
    .contactForm{
        width:50%;
        margin:10px auto;
        font-size:120%;
    }
    #formContainer{margin:0 auto;width:40%;}
    .contactsGeneral{
        width:50%;
        padding:10px auto;
        margin: 10px auto;
    }
    .con{list-style: none;}
    .contactItem{
        margin:30px;
        width:70%;
        font-size:200%;
        border:#45ba9a 2px solid;
        border-radius:10px;
        text-align:center;
        padding:5px;
    }
    .contactItem:hover{
        background-color:#5b6361;
        color:aqua;
        cursor:pointer;
    }
/*end form*/


